right .weatherContent {
  margin: 0 0 15px 0;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 5px;
  height: 100px;
}

right .weatherContent .imageBox {
  display: inline-flex;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  background-color: #edccf063;
  width: 64px;
  height: 64px;
  margin: 18px 0 0 50px;
}

right .weatherContent .imageBox .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

right .weatherContent .text {
  float: left;
  font-size: 18px;
  margin: 39px 0 0 15px;
  color: #bdbdc4;
  font-family: "Jua";
  width: 350px;
}

right .weatherContent .time {
  float: left;
  font-size: 18px;
  margin: 39px 0 0 40px;
  color: #bdbdc4;
  font-family: "Jua";
  width: 70px;
}

right .weatherContent .temp {
  float: left;
  font-size: 18px;
  margin: 39px 0 0 20px;
  color: #bdbdc4;
  font-family: "Jua";
  text-align: center;
  width: 70px;
}
