/* Area 1 */
/* Week Title */
left .weekTitleContainer {
  /* Make a Grid */
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 3fr 3fr 2fr 1fr 0.1fr;
  grid-template-areas:
    "title title title . ."
    "title title title titleButton ."
    "title title title . .";
}

left .weekTitleContainer .weekTitle {
  /* Grid assign */
  grid-area: title;

  /* Text */
  color: #ffffffec;
  font-size: 40px;
  font-family: "Jua";

  /* Distance between divs */
  margin-bottom: 5px;
}

left .weekTitleContainer .weekButton {
  /* Grid assign */
  grid-area: titleButton;
}

left .weekTitleContainer .weekButton button {
  /* Button Design */
  border: 0;
  background-color: transparent;
  height: 20px;
  width: 20px;
  overflow: hidden;

  /* Button */
  display: inline-flex;
  float: left;
  margin: 0 5px 0 5px;

  /* Hover event*/
  cursor: none;
}

left .weekTitleContainer .weekButton button img {
  /* Fit to button */
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ----------------------------------------------------------------------------------------------------- */

/* Area 2*/
/* Week Content */

left .weekContent {
  /* Make a grid */
  display: grid;
  grid-template-columns: 2fr 0.6fr 5fr 1fr;
  grid-template-areas: "weekNumber . tags contentButton";

  /* Div outfit */
  height: 70px;
  margin: 0 0 15px 0;
  background: rgba(255, 255, 255, 0.15);

  /* Div Design */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 5px;
}

left .weekContent .weekNumber {
  /* Grid assign */
  grid-area: weekNumber;
}

left .weekContent .weekNumber .weekBackground {
  /* Div Design */
  width: 45px;
  height: 45px;
  margin: 12.5px 0 0 40px;
  border-radius: 50%;
  overflow: hidden;
  /* Div position */
  display: inline-flex;
  float: left;
}

left .weekContent .weekNumber .weekBackground p {
  /* Text in Div */
  font-size: 25px;
  color: #ffffffec;
  margin: 12px 0 0 12px;
}
