/* 컨테이너 */
.container {
    width: 1440px;
    margin: 0 auto;
}

/* Row2 - Top Menu */
.row2 {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.89);
    height: 100%;
}
.row2 .header_menu {
    text-align: right;
}
.row2 .header_menu a {
    color: #fff;
    padding: 14px 10px 6px 10px;
    display: inline-block;
    transition: color 0.3s ease;
    font-size: 12px;
    margin-right: 10px;
}
.row2 .header_menu a:hover {
    color: #ccc;
}

/* 헤더 */
.row3 {
    margin: 0 auto;
}
.header {
    height: 0;
    position: relative;
}
.header .header_tit {
    text-align: center;
    font-family: 'Baloo Tammudu 2', 'Jua', 'Nanum Gothic';
}
.header .header_tit .blank-section {
    background: transparent;
}

/* Title Messages */
.header .header_tit .title-section .button-title {
    margin-top: 30px;
    font-size: 25.6px;
    background: transparent;
    color: white;
    font-weight: 800;
    display: inline-block;
}

/* Main Messages */
.header .header_tit .message-section {
    background: transparent;
    color: white;
    display: inline-block;
    margin-top: 350px;
}
.header .header_tit .message-section h1 {
    font-size: 96px;
    font-weight: 800;
}
.header .header_tit .message-section h2 {
    font-size: 16px;
    font-weight: 600;
    margin-top: -24px;
}

/* Two Buttons */
.header .header_tit .button-section {
    background: transparent;
    color: white;
    display: inline-block;
    margin-top: 32px;
}
.header .header_tit .button-section .button {
    font-size: 12.8px;
    background: white;
    color: black;
    font-weight: 600;
    display: inline-block;
    border: 1px solid white;
    border-radius: 0;
    padding: 16px 40px 11.2px 40px;
    margin-right: 10px;
}
.header .header_tit .button-section .button-secondary {
    font-size: 12.8px;
    background: transparent;
    color: white;
    font-weight: 600;
    display: inline-block;
    border: 1px solid white;
    border-radius: 0;
    padding: 16px 40px 11.2px 40px;
}
.row3 .header_image {
    max-height: 976.63px;
}

.row3 .header_image img {
    width: 100%;
    height: auto;
    max-height: 976.63px;
}

/* media query*/
/* 화면 너비 0 ~ 1600px */
@media (max-width: 1600px) {
    .row2 {
        padding: 0 15px;
    }
    .row2 .header_menu a {
        font-size: 0.75vw;
    }
    .container {
        width: 100%;
    }

    .header .header_tit .title-section .button-title {
        font-size: 1.6vw;
    }
    /* Main Messages */
    .header .header_tit .message-section {
        margin-top: 21.875vw;
    }
    .header .header_tit .message-section h1 {
        font-size: 6vw;
    }
    .header .header_tit .message-section h2 {
        font-size: 1vw;
        margin-top: -1.5vw;
    }

    /* Two Buttons */
    .header .header_tit .button-section {
        margin-top: 2vw;
    }
    .header .header_tit .button-section .button {
        font-size: 0.8vw;
        padding: 1vw 2.5vw 0.7vw 2.5vw;
    }
    .header .header_tit .button-section .button-secondary {
        font-size: 0.8vw;
        padding: 1vw 2.5vw 0.7vw 2.5vw;
    }
    .row3 .header_image {
        max-height: 61.0394vw;
    }
}

/* 화면 너비 0 ~ 1024px */
@media (max-width: 1024px) {
}

/* 화면 너비 0 ~ 960px */
@media (max-width: 960px) {
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px) {
}

/* 화면 너비 0 ~ 600px */
@media (max-width: 600px) {
}

/* 화면 너비 0 ~ 480px */
@media (max-width: 480px) {
    .wrapper {
        width: 480px;
    }
}
