#container {
  display: grid;
  grid-template-rows: 80px 1000px 100px;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-areas:
    "header1 header2 header3"
    "left main right"
    "footer footer footer";
}

header.item {
  grid-area: header2;
}
