.main {
    margin: 0 auto;
    height: 710px;
    background-color: black;
}

.blank-item {
    height: 0;
}

.image-itme {
    text-align: center;
}

.image-itme .image-itme-title {
    background: transparent;
    color: white;
    display: inline-block;
    margin-top: 50px;
}

.image-itme .image-itme-title h2 {
    font-size: 24px;
}
.intro-itme {
    margin-top: 40px;
}

.intro-itme .slide_wrap {
    position: relative;
    width: 638px;
    margin: auto;
    padding-bottom: 30px;
}

.intro-itme .slide_wrap .slide_box {
    width: 100%;
    margin: auto;
    overflow-x: hidden;
}

.intro-itme .slide_wrap .slide_box .slide_list {
    float: left;
}

.intro-itme .slide_wrap .slide_box .slide_list .slide_content {
    display: table;
    float: left;
    width: 638px;
    height: 440px;
}

.intro-itme .slide_wrap .slide_box .slide_list .slide_content img {
    width: 638px;
    height: 440px;
    display: table;
    float: left;
}

.intro-itme .slide_list .image-text {
    background: transparent;
    color: white;
}

.intro-itme .slide_list .image-text h2 {
    font-size: 80px;
}

/* media query*/
/* 화면 너비 0 ~ 1600px */
@media (max-width: 1600px) {
    .main {
        height: 50vw;
    }

    .image-itme .image-itme-title {
        height: 3.125vw;
    }
    .image-itme .image-itme-title h2 {
        font-size: 1.5vw;
    }
}
