/* 기본 색상 변수에 담기 */
html {
  --color-texta: #fc6b6bce;
  --color-textb: #c5dadf;
}

/* 시스템 커서 안 보이게 숨기기 */

body {
  cursor: none;
}

/* 커스텀 커서 스타일 정의해주기 */
.cursor {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  background-color: var(--color-textb);
  opacity: 75%;
  background-size: cover;
}

.cursor-grow {
  background-color: var(--color-texta);
  opacity: 100%;
}

.box-grow {
  transform: scale(1.05);
}
