header {
  text-align: right;
}

header .header .headerIcon {
  display: inline;
  margin-left: 10px;
}

header .header button {
  border: 0;
  color: #1e1e22d7;
  background: rgba(255, 196, 196, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 0 20px;
  /* With hover event, No showing mouse pointer */
  cursor: none;
  font-weight: 700;
}

header .header button .iconClass {
  display: inline-flex;
  font-size: 14px;
  margin-top: 8px;
  line-height: 30px;
}

header .header button .iconClass i {
  padding-right: 10px;
  font-size: 20px;
}

header .header button .arrow {
  display: inline-flex;
  font-size: 20px;
  margin-left: 10px;
}

/* media query*/
/* 화면 너비 0 ~ 1600px */
@media (max-width: 1600px) {
  .container {
    width: 100%;
  }
  .row {
    padding: 0 15px;
  }
  .title .btn {
    right: 5px;
  }
}

/* 화면 너비 0 ~ 1024px */
@media (max-width: 1024px) {
}

/* 화면 너비 0 ~ 960px */
@media (max-width: 960px) {
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px) {
}

/* 화면 너비 0 ~ 600px */
@media (max-width: 600px) {
}

/* 화면 너비 0 ~ 480px */
@media (max-width: 480px) {
}

/* 화면 너비 0 ~ 320px */
@media (max-width: 320px) {
}
