#oneContainer {
  display: grid;
  /* gap: 2vh 3vw; */
  /* padding: 0 5vw 0 5vw; */
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    ". . ."
    ". centerContainer ."
    ". . .";
  max-width: 100vw;
  max-height: 100vh;
}

centerContainer {
  grid-area: centerContainer;
  height: 80vh;
  /* background-color: brown; */
}
